*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 15%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}


.card-container{
    background-color: hsl(213, 19%, 18%);
    width: 26.5rem;
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-bottom: 1.8rem;
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(213, 15%, 25%);
    display: grid;
    place-items: center;
}

.text{
    text-align: center;
    margin: 1.2rem 0 1.2rem 0;
}

.text h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: hsl(0, 0%, 100%);
}

.text p{
    font-size: 0.9;
    line-height: 1.5;
    color: hsl(216, 12%, 54%);
}

.rating{
    display: flex;
    gap: 1.2rem;
}

.rating .option{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:hsl(213, 15%, 25%);
    display: grid;
    color: hsl(217, 12%, 63%);
    place-items: center;
}

.rating .option:hover{
    background-color: hsl(25, 97%, 53%);
    color:#f7f7f7;
}

.option .active{
    background-color: hsl(216, 12%, 54%);
}

.cta-button{
    font-size: 1rem;
    height: 48px;
    display: grid;
    margin-top: 1.6rem;
    border-radius: 24px;
    place-items: center;
    width: 100%;
    color: #f7f7f7;
    background-color: hsl(25, 97%, 53%);
}

.cta-button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.attribution{
    color:#f7f7f7;
    text-align: center;
}

.attribution a{
    color: hsl(217, 12%, 63%);
}

.attribution .name{
    color: hsl(25, 97%, 53%);
}

.thank-you-card{
    display: none;
}

.illustration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.option-note{
    margin-top: 1.5rem;
    background-color: hsl(25, 97%, 53%, 0.11);
    color: hsl(25, 97%, 53%);
    padding: 0.6rem 1.2rem;
    display: grid;
    place-items: center;
    border-radius: 24px;
}

